body {
	padding: 0px;
	margin: 0px;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: Arial;
}

.title {
  font-family: monospace;
  font-size: 1.5em;
  color: #313332;
  margin: 15px 0 0 15px;
}

#itemsContainer {
	padding: 0 30px 0 10px;
}

#hintPlaceholder {
	font-size: 1.5em;
	width:90%;
	margin-top:100px;
	padding-left: 200px;
	color: #DDD;
}

.item-summary-panel {
  margin-right : 15px;
  overflow : hidden;
  background-color: #eff4f2;
  width: 360px;
  height : 260px;
  cursor: pointer;
}

#itemDetails {
  background-color: #eff4f2;
  margin: 10px 10px;
	min-height: 400px;
	min-width: 400px;
	width: 100%;
	height: 100%;
}

.item-details-textarea {
  border : 0px;
  width : 100%;
  min-height : 600px;
  background-color : #eff4f2;
}

ul.item-list {
    list-style: circle;
		padding-left: 20px;
}

ul.item-list > li {
	padding: 3px;
	width: 300px;
}

#head-container {
	background-color: #eff4f2;
	min-height: 100%;
	top: 0px;
	border-right: 1px solid #DDD;
	color: #FFFAFA;
}

@media(max-width: 1650px) {
  #head-container {
    display: none;
  }
}

#countContainer {
	font-size: 1.1em;
  padding-left: 10px;
}

#right-container {
	padding-top: 5px;
}

.terminal-container {
  min-height: 100px;
	height: 150px;
  margin-bottom: 10px;
}

.terminal {
  --color: #5cb85c;
  --background: white;
  --animation: terminal-underline;
  --size: 1.2;
  /* better then return false in onBlur */
  margin: 0; /* body margin */
}

#repository-button {
    margin: 10px 10px 0 0;
}

#catalog-button {
    margin: 10px 10px 0 0;
}

#repository-button > button {
  background-color: #5cb85c;
  border-color: #DDD;
  color: #FFFAFA !important;
  text-transform: none !important;
}

#repository-button > ul {
  width: 400px;
}

#repository-button > ul > li {
  padding: 10px;
  cursor: pointer;
}

#repository-button > ul > li > a:hover {
  background-color: white;
}

#repository-button > ul > .divider {
  padding: 0px;
}

#help {
	width: 500px;
	font-family: monospace;
	color:#5cb85c;
	display: none;
	position: absolute;
	top:0;
	right: 0;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#helpButton {
	margin-right: 20px;
}

.add-repository-link {
	display : inline !important;
	cursor: pointer;
	text-decoration: underline;
	padding: 0 5px 0 5px !important;
}

.facet {
	padding: 20px 0 0 15px;
}

#facets-container {
	padding: 20px 0 0 15px;
}

.facet-title {
	color: #5cb85c;
	font-weight: bold;
	text-transform:uppercase;
	font-size: 0.9em;
}

.facet-title-search-input {
	height: 20px !important;
	padding: 2px 2px;
	font-size: 12px;
	border-radius: 3px;
	width: 140px !important;
	display: inline-block;
	margin: -4px 0 0 6px !important;
}

.facet-title-search-icon {
	margin-left: 3px;
	font-size: 0.9em;
	color: white;
	cursor: pointer;
}

.facet-value {
	margin: 3px 0 0 3px;
}

.facet-value > a {
	color: #313332 !important;
	padding: 2px 0 0 0 !important;
}

.facet-value > a:hover, .facet-value > a:focus {
	background-color: transparent !important;
}

.facet-value > em {
	color: #6d706f;
}

.facet-value > a.facet-value-or-selected {
	color: #B2D4DC !important;
}

.facet-drag-icon, .facet-drag-icon:hover {
	font-size: 0.9em;
	margin-left: 5px;
	cursor: move;
	text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #1CD67C;
	border-color: rgb(230, 68, 0);
	color: #FFFAFA !important;
	text-transform: none !important;
	margin-right: 5px;
}
