.terminal-container {
  height: 100px;
  margin-bottom: 10px;
}

.terminal {
  --color: #5cb85c;
  --background: white;
  --animation: terminal-underline;
  --size: 1.2;
  /* better then return false in onBlur */
  margin: 0; /* body margin */
}
